USE [atlanta]
GO
/****** Object:  Table [dbo].[skill_estoq_estoque]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_estoque](
	[codprod] [int] NULL,
	[codloc] [int] NULL,
	[saldo] [numeric](15, 3) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_local]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_local](
	[codloc] [int] NULL,
	[descricao] [varchar](30) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_movcab]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_movcab](
	[transacao] [int] NULL,
	[codentsai] [int] NULL,
	[codparc] [int] NULL,
	[emissao] [date] NULL,
	[dtmov] [date] NULL,
	[numdoc] [varchar](15) NULL,
	[total] [numeric](15, 2) NULL,
	[inclusao] [datetime] NULL,
	[alteracao] [datetime] NULL,
	[obs] [varchar](60) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_movitem]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_movitem](
	[transacao] [int] NULL,
	[codprod] [int] NULL,
	[qtde] [decimal](15, 3) NULL,
	[punit] [decimal](15, 2) NULL,
	[codloc1] [int] NULL,
	[codloc2] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_parceiro]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_parceiro](
	[codparc] [int] NULL,
	[tipo] [int] NULL,
	[nome] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_produto]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_produto](
	[codprod] [int] NULL,
	[descricao] [varchar](60) NULL,
	[unidade] [varchar](2) NULL,
	[custo] [numeric](15, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_tipentsai]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_tipentsai](
	[codentsai] [int] NULL,
	[tipo] [varchar](1) NULL,
	[descricao] [varchar](30) NULL,
	[orig] [varchar](1) NULL,
	[dest] [varchar](1) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_estoq_unidade]    Script Date: 19/02/2025 22:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_estoq_unidade](
	[unidade] [varchar](2) NULL,
	[descricao] [varchar](20) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_local] ON 

INSERT [dbo].[skill_estoq_local] ([codloc], [descricao], [id]) VALUES (1, N'DEPÓSITO', 1)
INSERT [dbo].[skill_estoq_local] ([codloc], [descricao], [id]) VALUES (3, N'COZINHA', 3)
INSERT [dbo].[skill_estoq_local] ([codloc], [descricao], [id]) VALUES (9, N'BALCAO ATENDIMENTO', 9)
SET IDENTITY_INSERT [dbo].[skill_estoq_local] OFF
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_movcab] ON 

INSERT [dbo].[skill_estoq_movcab] ([transacao], [codentsai], [codparc], [emissao], [dtmov], [numdoc], [total], [inclusao], [alteracao], [obs], [id]) VALUES (1, 7, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-02-19T13:47:00.000' AS DateTime), CAST(N'2025-02-19T16:15:00.000' AS DateTime), NULL, 1002)
INSERT [dbo].[skill_estoq_movcab] ([transacao], [codentsai], [codparc], [emissao], [dtmov], [numdoc], [total], [inclusao], [alteracao], [obs], [id]) VALUES (2, 7, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-02-19T13:52:00.000' AS DateTime), CAST(N'2025-02-19T20:54:00.000' AS DateTime), NULL, 1003)
INSERT [dbo].[skill_estoq_movcab] ([transacao], [codentsai], [codparc], [emissao], [dtmov], [numdoc], [total], [inclusao], [alteracao], [obs], [id]) VALUES (3, 7, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-02-19T13:57:00.000' AS DateTime), CAST(N'2025-02-19T17:12:00.000' AS DateTime), NULL, 1004)
SET IDENTITY_INSERT [dbo].[skill_estoq_movcab] OFF
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_movitem] ON 

INSERT [dbo].[skill_estoq_movitem] ([transacao], [codprod], [qtde], [punit], [codloc1], [codloc2], [id]) VALUES (4, 11, CAST(32.000 AS Decimal(15, 3)), CAST(0.00 AS Decimal(15, 2)), 9, NULL, 1108)
INSERT [dbo].[skill_estoq_movitem] ([transacao], [codprod], [qtde], [punit], [codloc1], [codloc2], [id]) VALUES (4, 12, CAST(23.000 AS Decimal(15, 3)), CAST(0.00 AS Decimal(15, 2)), 9, NULL, 1109)
INSERT [dbo].[skill_estoq_movitem] ([transacao], [codprod], [qtde], [punit], [codloc1], [codloc2], [id]) VALUES (4, 244, CAST(47.000 AS Decimal(15, 3)), CAST(0.00 AS Decimal(15, 2)), 9, NULL, 1110)
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_movitem] OFF
GO
INSERT [dbo].[skill_estoq_parceiro] ([codparc], [tipo], [nome]) VALUES (1, 2, N'PHILIP MORRIS BRASIL IND.COM.LTDA')
INSERT [dbo].[skill_estoq_parceiro] ([codparc], [tipo], [nome]) VALUES (2, 1, N'CLIENTE 1')
INSERT [dbo].[skill_estoq_parceiro] ([codparc], [tipo], [nome]) VALUES (3, 1, N'CONSUMO INTERNO - SOCIOS')
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_produto] ON 

INSERT [dbo].[skill_estoq_produto] ([codprod], [descricao], [unidade], [custo], [id]) VALUES (1, N'LARANJA', N'KG', CAST(1.25 AS Numeric(15, 2)), 1)
INSERT [dbo].[skill_estoq_produto] ([codprod], [descricao], [unidade], [custo], [id]) VALUES (2, N'MACARRÃO', N'UN', CAST(2.15 AS Numeric(15, 2)), 2)
INSERT [dbo].[skill_estoq_produto] ([codprod], [descricao], [unidade], [custo], [id]) VALUES (3, N'OLEO ALGODÃO ELOGIATA 15,8LT', N'PT', CAST(162.50 AS Numeric(15, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_produto] OFF
GO
SET IDENTITY_INSERT [dbo].[skill_estoq_tipentsai] ON 

INSERT [dbo].[skill_estoq_tipentsai] ([codentsai], [tipo], [descricao], [orig], [dest], [id]) VALUES (1, N'E', N'COMPRA', N'N', N'S', 1)
INSERT [dbo].[skill_estoq_tipentsai] ([codentsai], [tipo], [descricao], [orig], [dest], [id]) VALUES (2, N'S', N'VENDA', N'S', N'N', 2)
INSERT [dbo].[skill_estoq_tipentsai] ([codentsai], [tipo], [descricao], [orig], [dest], [id]) VALUES (3, N'A', N'TRANSFERENCIA', N'S', N'S', 3)
SET IDENTITY_INSERT [dbo].[skill_estoq_tipentsai] OFF
GO
INSERT [dbo].[skill_estoq_unidade] ([unidade], [descricao]) VALUES (N'CX', N'CAIXA')
INSERT [dbo].[skill_estoq_unidade] ([unidade], [descricao]) VALUES (N'KG', N'KILO')
INSERT [dbo].[skill_estoq_unidade] ([unidade], [descricao]) VALUES (N'UN', N'UNIDADE')
GO
