.input-search::placeholder {
    color: black;
}

.input-container {
	padding-bottom: 1em;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 35px !important; 
}
.left-inner-addon span {
    position: absolute;
    padding: 12px 12px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 35px !important;
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 24px 12px;
}

.left-and-right-inner-addon {
    position: relative;
}
.left-and-right-inner-addon input {
    padding-right: 35px !important;
    padding-left: 35px !important;
}
.left-and-right-inner-addon span.left {
    position: absolute;
    padding: 12px 12px;
}
.left-and-right-inner-addon span.right {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
}

.right-inner-addon-b {
    position: relative;
}
.right-inner-addon-b input {
    padding-right: 35px !important;
}
.right-inner-addon-b span {
    position: absolute;
    right: 0px;
    padding: 9px 12px;
}

.animated {
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @keyframes rotate {
    0% {
      transform-origin: center;
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform-origin: center;
      -webkit-transform: rotate(-360deg);
    }
  }
  .rotate {
    animation-name: rotate;
    -webkit-animation-name: rotate;
  }

.autocomplete {  
  width: inherit;
  z-index: 1052;
  top: 50px;
  width: 100%;
  position: absolute;
}

.autocomplete-items {
  z-index: 1053;
  position: fixed;
  border: 1px solid #d4d4d4;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  scroll-padding-top: 50%;
  scroll-padding-bottom: 50%;
}

.autocomplete-items div {
  padding: 4px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
  
.autocomplete-items div:focus {
  background-color: DodgerBlue; 
  color: #ffffff; 
}